@use "variables" as *;

*{
    margin: 0;
}

header{
    .navbar.navbar-expand-lg.bg-body-tertiary.p-1{
        gap: 20px;
    }
    .container-fluid{
        padding: 0 200px;
        
        @media (max-width: 992px) {
            padding: 0 50px;
        }

        @media (max-width: 576px) {
            padding: 0 15px;
        }
    }
    a{
        text-decoration: none;
    }
}


.titulo{
    color: white;
    background-color: $primary-color;
}

.slogan{
    color: $primary-color;
}

.container{
    .contenedor-1,
    .contenedor-2,
    .contenedor-3 {
        background-color: #EDE4DD; 
        img {
            max-width: 100%;
            height: auto;
        }
    }
    @media (min-width: 768px) {
    .contenedor-1 img,
    .contenedor-2 img,
    .contenedor-3 img {
        width: 100%;
        }
    }
}

.footer-icon {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid $footer-secondaty-border-color;
    z-index: 1;
}

footer{
    border-top: 1px solid $footer-primary-border-color;
    .row{
        border-bottom: 1px solid $footer-primary-border-color;
        .links{
        
            a{
                text-align: justify;
                text-decoration: none;
                color: gray;
            }
        }
    }
    .footer-bottom{
        ul{
            display: flex;
        }
        ul li {
            list-style: none;
            a{
                @extend .footer-icon;
                .icon{
                    position: relative;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;                    
                }                
            }
        }

        ul li a:hover .icon {
            color: $footer-secondaty-border-color;
            transform: rotateY(360deg);
        }

        ul li a:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: $footer-color-1;
            transition: .5s;
            z-index: 2;
        }

        ul li a:hover:before {
            top: 0;
        }

        ul li:nth-child(1) a:before{
            background: $footer-color-2;
        }

        ul li:nth-child(2) a:before{
            background: $footer-color-3;
        }

        ul li:nth-child(3) a:before {
            background: $footer-color-4;
        }

        ul li:nth-child(4) a:before {
            background: $footer-color-5;
        }
    }
}