@use "variables" as *;

*{
    margin: 0;
}

header{
    .navbar.navbar-expand-lg.bg-body-tertiary.p-1{
        gap: 20px;
    }
    .container-fluid{
        padding: 0 200px;
    }
    a{
        text-decoration: none;
    }
}

main{

    padding: 0 128px;
    a{
        text-decoration: none;
        color: black;
    }
    .contenedor-1{
        background-color: $contenedor-1-background-color;
        color: white;
    }


    .contenedor-2{
        background-color: $contenedor-2-background-color;
        color: $contenedor-2-color;
        .postular{
            
            display: inline-block;
            background: none;
            border: 1px solid;
            border-radius: 50px;
            padding: 7px 16px;
            font-weight: 600;
            line-height: 1;
            text-align: center;
            .fw-bold{
                color: $contenedor-2-color;
            }
        }
    }
}

.footer-icon {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid $footer-secondaty-border-color;
    z-index: 1;
}

footer{
    border-top: 1px solid $footer-primary-border-color;
    .row{
        border-bottom: 1px solid $footer-primary-border-color;
        .links{
        
            a{
                text-align: justify;
                text-decoration: none;
                color: gray;
            }
        }
    }
    .footer-bottom{
        ul{
            display: flex;
        }
        ul li {
            list-style: none;
            a{
                @extend .footer-icon;
                .icon{
                    position: relative;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;                    
                }                
            }
        }

        ul li a:hover .icon {
            color: $footer-secondaty-border-color;
            transform: rotateY(360deg);
        }

        ul li a:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: $footer-color-1;
            transition: .5s;
            z-index: 2;
        }

        ul li a:hover:before {
            top: 0;
        }

        ul li:nth-child(1) a:before{
            background: $footer-color-2;
        }

        ul li:nth-child(2) a:before{
            background: $footer-color-3;
        }

        ul li:nth-child(3) a:before {
            background: $footer-color-4;
        }

        ul li:nth-child(4) a:before {
            background: $footer-color-5;
        }
    }
}